@media (max-width: 433px) {
    #content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
} 
    
@media (max-width: 400px)  {
    .input {
        margin-right: 0 !important;
    }

    .container-fluid {
        justify-content: center !important;
    }
}