
.bg-secondary {
    background-color: #6c757d !important;
    background-image: var(--bs-gradient) !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    object-fit: cover;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-nowrap-center {
    text-wrap-mode: nowrap;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.card-img, .card-img-top {
    border-radius: 0 !important;
}

.grass, .bug {
    background-color: green;
}

.fire, .dragon, .fighting {
    background-color: red;
}

.water, .flying, .ice {
    background-color: lightblue;
}

.ground, .rock {
    background-color: burlywood;
}

.poison, .ghost {
    background-color: purple;
}

.normal, .steel {
    background-color: gray;
}

.dark {
    background-color: brown;
}

.psychic, .fairy {
    background-color: pink;
}

.electric {
    background-color: yellow;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    text-align: center;
}

.displaynone {
    display: none !important;
}

.popup {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    margin-top: 50%vh;
    z-index: 1;
    
}