body {
    height: 100vh;
    
}

.bg-secondary {
    background-color: #6c757d !important;
    background-image: var(--bs-gradient) !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    object-fit: cover;
}